* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

nav {
    background: #061d2b;
    position: relative;
}

nav a:hover {
    border-bottom-color: #101920;
    transform: scale(1.1);
    z-index: 2;
    transition: 200ms;
}

#logo {
    font-size: 38px;
    font-weight: 700;
    color: rgb(253, 249, 249);
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(253, 249, 249);
    transition: 400ms;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid transparent;
}

.slider {
    background: #f6f6f6;
    height: 100vh;
}

#nav-toggler {
    display: none;
}

#nav-toggler .bar {
    display: block;
    width: 40px;
    height: 6px;
    background: black;
    margin: 8px;
    transition: 300ms;
}

nav .mobnav-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: none;
}

nav .mobnav-wrapper li {
    display: block;
}

.mobnav-wrapper a {
    text-align: center;
}

.mobnav-wrapper {
    padding: 35px 0;
}

@media (max-width: 768px) {
    .nav-wrapper {
        display: none;
    }
    #nav-toggler {
        display: block;
    }
}

@media (min-width: 768px) {
    .mobnav-bg.menu-open {
        display: none !important;
    }
}

.menu-open {
    display: block !important;
}

.nav-toggle .bar:first-child {
    transform: rotate(-50deg) translateY(2px);
}

.nav-toggle .bar:nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
}

.nav-toggle .bar:last-child {
    transform: rotate(50deg) translateY(-2px);
}

.copy {
    color: black;
    text-align: center;
}

.copy p {
    margin: 1.5em 0;
    font-size: 14.5px;
}